<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wei Zhao - AI Development Engineer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">

            <!-- Home Section -->
            <section id="home" class="text-center">
                <h1 class="display-1">Wei Zhao</h1>
                <p class="lead">AI Development Engineer & Data Science Student</p>
            </section>

            <!-- About Section -->
            <section id="about">
                <h2 class="display-5">About Me</h2>
                <p class="lead">As a software engineer and data science student, I am familiar with Embedding, Backend Development, and Cloud technologies. I bring over 1.5 years of experience in developing projects with efficient AI applications. I am adept at applying cutting-edge AI techniques to solve complex problems and have a strong foundation in data science principles and algorithms. I am passionate about building intelligent systems and leveraging data to drive innovation.</p>
            </section>

            <!-- Experience Section -->
            <section id="experience">
                <h2 class="display-5">Experience</h2>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Software Engineer</h5>
                        <p class="card-text ">YanYin Technology Company, ShangHai, China | 06.2024 - 11.2024</p>
                        <ul>
                            <li>Responsible for building data systems, crawling, cleaning, and migrating multiple data sources</li>
                            <li>According to the project requirements, complete the development document design, and in accordance with the development document complete the back-end function development</li>
                            <li>Participate in the development and expansion of Al platforms, conduct technology on Al technology</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Software Engineer</h5>
                        <p class="card-text ">BaDou Intelligent Technology Company, ShangHai, China | 03.2023 - 06.2024</p>
                        <ul>
                            <li>According to the project requirements, complete the development document design, and in accordance with the development document complete the back-end function development</li>
                            <li>Participate in the upgrade of customer service robot system, complete the embedding model and large language model complete the embedding model and large language model to integrate into the new system,</li>
                            <li>Participate in company project privatization deployment, cloud service deployment (AWS, Tianyi Cloud)</li>
                        </ul>
                    </div>
                </div>
            </section>

            <!-- Education Section -->
            <section id="education">
                <h2 class="display-5">Education</h2>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">M.Sc in Data Science</h5>
                        <p class="card-text ">XU Exponential University of Applied Sciences, Berlin, German | April 2025 - June 2027</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">B.Sc. in Computer Science and Technology</h5>
                        <p class="card-text ">ShanXi University, TaiYuan, ShanXi, China | Sep 2016 - Jul 2020</p>
                    </div>
                </div>
            </section>

            <!-- Coursework Section -->
            <section id="coursework">
                <h2 class="display-5">Relevant Coursework</h2>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><i class="fas fa-book"></i> Deep Learning</li>
                            <li><i class="fas fa-book"></i> Natural Language Processing</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><i class="fas fa-book"></i> Big Data Technologies</li>
                            <li><i class="fas fa-book"></i> Data Visualization</li>
                        </ul>
                    </div>
                </div>
            </section>

            <!-- Algorithm Projects Section -->


            <!-- Skills Section -->
            <section id="skills">
                <h2 class="display-5">Skills</h2>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><i class="fas fa-code"></i> Python, Java</li>
                            <li><i class="fas fa-cogs"></i> SpringBoot, Flask, Liquibase, Mybatis</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><i class="fas fa-database"></i> PostgreSQL, MySQL, MongoDB, Cassandra, Milvus</li>
                            <li><i class="fas fa-server"></i> Redis, Rabbitmq, Docker</li>
                        </ul>
                    </div>
                </div>
            </section>

            <!-- Projects Section -->
            <section id="projects">
                <h2 class="display-5">Projects</h2>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Datasets Crawling</h5>
                        <p class="card-text">The project mainly includes data sources such as nature_protocol, current_protocol, protocol_io, and aminer. Tasks are used to monitor and control the processing flow of these data sources. Each data source includes processes such as crawling, cleaning, parsing, publishing, and AI processing.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Enterprise Assistant Robot</h5>
                        <p class="card-text">The project is a chatbot with a wide range of c-side applications. the project mainly includes modules such as tenant management system, knowledge management system, application system, and question and answer system of the consultation window.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Document Search Service</h5>
                        <p class="card-text">This project is an independent post-processing service for document knowledge points. The project mainly provides functions such as semantic search, document vectorization, document vector storage, document format conversion, and document slicing.</p>
                    </div>
                </div>
            </section>

            <!-- Contact Section -->
            <section id="contact" class="text-center">
                <h2 class="display-5">Contact</h2>
                <p class="lead">Get in touch with me via email or find me on social media.</p>
                <a href="mailto:justforfreezw@outlook.com" class="btn btn-outline-light btn-lg"><i class="fas fa-envelope"></i> Email</a>
                <a href="https://linkedin.com/in/wei-zhao-5ba8291aa" target="_blank" class="btn btn-outline-light btn-lg"><i class="fab fa-linkedin"></i> LinkedIn</a>
                <a href="https://github.com/justforfreezw-zt1219906902" target="_blank" class="btn btn-outline-light btn-lg"><i class="fab fa-github"></i> GitHub</a>
            </section>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
